@{
    ViewBag.Title = "ServerInterface Test";
}

<link href="@Url.Content("~/Content/qunit.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/qunit.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ServerInterface.js")" type="text/javascript"></script>


<h1 id="qunit-header">ServerInterface Tests</h1>

<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup, will be hidden</div>

<script type="text/javascript">

    function sggamesqueuesCallback(data) {
        ok(true);
        start();
    }

    $(function () {
        var apiURL = "@this.ViewBag.ApiUrl";
        var blobURL = "@this.ViewBag.BlobUrl";

        var si = new ServerInterface();

        function ajaxGetError(req, status, error) {
            start();
            si.onAjaxGetError(req, status, error);
        }

        function ajaxPostError(req, status, error) {
            start();
            si.onAjaxPostError(req, status, error);
        }

        test("Call User/Verify", function () {
            var success = function (result) { ok(true); start(); };
            var error = ajaxGetError;
            stop(10000);
            expect(1);
            si.sendAjaxGet(apiURL + "user/verify", success);
        });

        test("Create Game Queue", function () {
            var si = new ServerInterface();

            var success = function (result) { ok(true); start(); };
            stop(10000);
            expect(1);
            si.sendAjaxPost(apiURL + "game/create", { gameType: "invitation" }, success, ajaxPostError);
        });

        test("Create and Get Game Queue", function () {
            var si = new ServerInterface();

            stop(10000);
            expect(2);
            si.sendAjaxPost(apiURL + "game/create", { gameType: "invitation" },
                function (result) {
                    ok(true);
                    si.sendAjaxJsonpGet(blobURL + "sggamesqueues/" + result+ "?callback=?", "sggamesqueuesCallback", ajaxGetError);
                }
            );
        });
    });
</script>

